.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    width: clamp(90px, 15vw, 220px); 
    min-width: 90px;
    flex-shrink: 1; 
}

.searchInput {
    width: 100%;
    padding: clamp(5px, 0.8vw, 8px) clamp(8px, 1.2vw, 12px);
    font-size: clamp(20px, 1.1vw, 14px);
    font-weight: 500;
    color: #1D3557; 
    background-color: white;
    border: 2px solid transparent;
    border-radius: 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
    transition: all 0.3s ease-in-out;
    outline: none;
}

.searchInput::placeholder {
    color: #9cb4cc;
    font-weight: 400;
}

.searchInput:focus {
    border-color: #E63946; 
    box-shadow: 0 8px 20px rgba(230, 57, 70, 0.15); 
    transform: translateY(-2px); 
}