.card-container {
    display: flex;
    flex-direction: column;
    padding: 13px;
    width: 250px;
    min-height: 400px;
    border-radius: 15px;
    background-color: #F7F0F5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-container:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.06);
}

.card-image {
    width: 95%;
    height: 120px;
    border-radius: 30px;
    background-size: contain;      
    background-position: center;   
    background-repeat: no-repeat;  
    background-color: #EDE4ED;     
    margin-right: 5px;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.card-info h2 {
    color: #433633;

}
.description{
    color: #433633;
    font-size:1.1rem;
}

.content-container {
    display: flex; 
    gap: 11px;
    
}

.content {
   
    padding: 4px 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #433633; 
    color: #F7F0F5; 
    border-radius: 20px;
    box-shadow: 0 4px 0 #2b2220, 0 8px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(12px, 1.2vw, 14px);
}

.purchases-container {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #433633;
}

.purchases-container button {
    padding: 6%;
    background-color: #DECBB7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #433633;
    font-weight: bold;
    box-shadow: 0 4px 0 #b3a08d, 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease;
}

.purchases-container button:hover {
    transform: translateY(-2px); 
    box-shadow: 0 6px 0 #b3a08d, 0 12px 20px rgba(0, 0, 0, 0.15); 
    background-color: #e6d5c2; 
}

.purchases-container button:active {
    transform: translateY(4px); 
    box-shadow: 0 0 0 #b3a08d, 0 2px 5px rgba(0, 0, 0, 0.1); 
}