@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Rubik:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', 'Almarai', sans-serif;
}

body {
    background-color: #332826;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    background-blend-mode: multiply;
    background-repeat: repeat;

    min-height: 100vh;
    margin: 0;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}